.box{
    width:1230px;
    height:2050px;       
    box-shadow: 5px 5px 2px rgba(0,0,0,0.8);
    padding: 10px;
    border: 1px solid grey;
    }

.box1{
width:1229px;
height:45px;
background:rgb(8, 19, 222);
border-radius: 5px;
font-style: normal;
font-size:20px;
vertical-align: middle;
display:table-cell;
text-align: center;
color:white;
}

.p{
    font-style: normal;
font-size:20px;
text-align: center;
color:rgb(8, 19, 222);
}

.p2{
    font-style: normal;
font-size:20px;
text-align: right;
color:rgb(8, 19, 222);
}

.box2{
width:1229px;
height:100px;
background:blue;
border-radius: 5px;
font-style: normal;
font-size:50px;
vertical-align: middle;
display:table-cell;
text-align: center;
color:white;
}

.text{
    font-style: normal;
    font-size:20px;
    color:rgb(0, 0, 0);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 10%;
    background-color:rgb(8, 19, 222) ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1f66f4;
  }

  input[type=reset] {
    width: 10%;
    background-color:rgb(222, 154, 8) ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=reset]:hover {
    background-color: #1f66f4;
  }